<section style="background-color: rgb(196, 255, 200);" >
    <div class="container col-md-6" style="text-align: center">
        <h1 style="color:rgb(4, 68, 9);">Book Your Flight</h1>
    <form (submit)="userRegister()"[formGroup]='myForm'>
        <div class="mb-3">
            <label for="exampleFormControlInput" class="form-label">Flight Id</label>
            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="flightId">
        </div>
    <div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">FirstName</label>
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName">
    </div>
    
    <div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">LastName</label>
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="lastName">
    </div>
    
    <div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">noOfSeats</label>
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="noOfSeats">
    </div>
    
    
    <div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">classs</label>
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="classs">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">gender</label>
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="gender">
    </div>
    
    <!--<div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">Gender</label>
    
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female" value="female"formControlName="gender">
            <label class="form-check-label" for="exampleRadios1">
                Male
            </label>
        </div>
    
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="male" value="male"formControlName="gender">
            <label class="form-check-label" for="exampleRadios1">
                Female
            </label>
        </div>
    </div>-->
    <input type="submit" value="Book" class="button">
    </form>
    </div>
    </section>
    <section>
        <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      
    </div>
  </form>
</div>
<div>
    <a href="https://rzp.io/l/LNXFeYo"><input value="Payment" class="button"></a>
    <a href="http://localhost:4200/allFlights"><input value="Back to Search Flight" class="button"></a>
    <a href="http://localhost:4200/allowuser"><input value="Back to Dashboard" class="button"></a>
</div>

</body>
</html>

    </section>
    
    