<form class="searchdiv" method="post">
    <input #origin type="text" placeholder="Enter Origin" class="input" name="origin" id="origin">
    <!-- *ngModel -->
    <input #destination type="text" placeholder="Enter Destination" class="input" name="destination" id="destination">
    <input type="submit" value="Search" class="button" (click)="searchFlight(origin.value,destination.value)">
    <input type="submit" value="Reset" class="button" (click)="reset()">
</form>
<br>

<div class="container">
    <table>
        <tr>
            <th>Flight Id</th>
            <th>Flight Name</th>
            <th>Flight Date</th>
            <th>Flight Time</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Business Class Fare</th>
            <th>Economy Class Fare</th>
            <th>Delete Train</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let flight of flights | paginate: {itemsPerPage:3, currentPage:p};">
            <td>{{flight.id}}</td>
            <td>{{flight.flightName}}</td>
            <td>{{flight.flightDate}}</td>
            <td>{{flight.flightTime}}</td>
            <td>{{flight.origin}}</td>
            <td>{{flight.destination}}</td>
            <td>{{flight.businessClassFare}}</td>
            <td>{{flight.economyClassFare}}</td>
            <td><input type="button" value="Delete" class="button" (click)="deleteFlight(flight.id)"></td>
            <td>
                <input type="button" value="Update" class="button" (click)="updateFlight(flight.id)">
                <!--<button (click)="updateFlight(flight.id)" class="btn btn-info">Update</button>-->
            </td>
            <!--<td>
                <button class="btn btn-success" type="button" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                        (click)="onEditDep(staff)"><mat-icon>edit</mat-icon></button>
            </td>-->
        </tr>
        
        <br>
        
    </table>
    <div  class="button">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
<br>
<!--<a href="http://localhost:4200/allow"><button  type="button" class="btn btn-success btn-lg btn-block" >Back To Dashboard</button></a>-->
<a href="http://localhost:4200/allow"><input type="submit" value="Back to Dashboard" class="button"></a>
<a href="http://localhost:4200/search"><input type="submit" value="Add Flights" class="button"></a>